{erl_opts, [debug_info, warnings_as_errors]}.
{src_dirs, ["src", "src/controllers"]}.
{deps, [
    {nova, "0.16.1"},
    {epgsql, "4.7.1"},
    {thoas, "1.2.1"}
]}.
{eunit_opts, [verbose]}.
{minimum_otp_vsn, "26"}.
{xref_checks, [undefined_function_calls, undefined_functions]}.
{project_plugins, [
    {rebar3_audit, "0.2.8"},
    {rebar3_lint, "6.0.0"}
]}.
%% cowboy hex metadata uses "and" that older rebar3 cannot parse.
{overrides, [
    {override, cowboy, [{deps, [{cowlib, "2.19.0"}, {ranch, "2.2.0"}]}]}
]}.
{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [
        nova,
        cowboy,
        ranch,
        cowlib,
        epgsql,
        thoas,
        inets,
        ssl,
        public_key,
        crypto,
        sasl
    ]},
    {plt_location, local}
]}.
